<launch>

<!-- Set arguments -->
<arg name="sim" default="true" />

<param if="$(arg sim)" name="use_sim_time" value="true" />

<node pkg="playground" type="playground" name="playground">

<!-- Visualisation RVIZ -->
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find playground)/launch/config/jtl_playground.rviz"/>

</launch>
